<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inhatc.mapper.MemberMapper">
	
	<select id ="getTime" resultType="string">
	select now()
	</select>
	
	<insert id="insertMember">
		insert into
			tbl_member (userid, userpw, username, email)
		values
			(#{userid}, #{userpw}, #{username}, #{email})
	</insert>
	
	<select id="selectMember" resultType="com.inhatc.domain.MemberVO">
		select * from tbl_member where userid = #{userid}
	</select>
	
	<select id="selectMemberWithPW" resultType="com.inhatc.domain.MemberVO">
		select * from tbl_member where userid = #{userid} and userpw = #{userpw}
	</select>
	
	<update id="update">
		update tbl_member set userpw=#{userpw}, username=#{username}, email=#{email}
		where userid = #{userid}
	</update>
	
	<delete id="delete">
		delete from tbl_member where userid=#{userid}
	</delete>
	
	<select id="listCount" resultType="int">
		select count(*) from tbl_member
	</select>
	
	<select id="listAll" resultType="com.inhatc.domain.MemberVO">
		<![CDATA[
			select userid, userpw, username, email, regdate, updatedate
			from tbl_member
		]]>
	</select>
	
</mapper>